<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKKU.LIBRARY</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/book-normal.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#" class="header-img">
            <img class="logo" src="/img/logo.png" th:onclick="|location.href='@{/normal/main}'|">
        </a>
        <div class="header-menu">
            <a href="/normal/borrow" class="menu">Borrow</a>
            <a href="/normal/myLibrary" class="menu">MyLibrary</a>
        </div>
    </header>
    <main>
        <div class="book-container">
            <div>
                <img class="book-image" src="/img/winterer.jpg">
            </div>
            <div class="book-information">
                <div class="book-title">Frankenstein</div>
                <div>Shelley Mary, PajuSalim, 2003</div>
                <div class="book-available">Available / Due 1 / Overdue 1 (Late fee: 1$)</div>
            </div>
        </div>
        <div class="book-button">
            <button>Borrow</button>
            <button>Renew</button>
            <button>Return</button>
        </div>
    </main>
    <footer>
        <div class="footer-information">
            <span>SKKU.LIBRARY</span>
            <span>Developer: Jaehong Lee</span>
            <span>Email: navihong98@gmail.com</span>
        </div>
        <div class="footer-logout">
            <button class="logout-button" th:onclick="|location.href='@{/}'|">Logout</button>
        </div>
    </footer>
</body>
</html>