<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKKU.LIBRARY</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main-normal.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <a href="#" class="header-img">
        <img class="logo" src="/img/logo.png" th:onclick="|location.href='@{/normal/main}'|">
    </a>
    <div class="header-menu">
        <a href="#" class="menu">Borrow</a>
        <a href="#" class="menu">MyLibrary</a>
    </div>
  </header>

  <main>
    <h1>Hot Book!</h1>
    <div class="hot-book-container">
      <a href="#" class="hot-book">
        <img class="book" src="/img/frankenstein.jpg">
        <div class="book-title">Frankenstein</div>
        <span>Shelley Mary, PajuSalim, 2003</span>
      </a>
      <a href="#" class="hot-book">
        <img class="book" src="/img/project_hailmary.jpg">
        <div class="book-title">Project Hail Mary</div>
        <span>Andy Weir, RH Korea, 2021</span>
      </a>
      <a href="#" class="hot-book">
        <img class="book" src="/img/winterer.jpg">
        <div class="book-title">Childeren of the Rune: Winterer</div>
        <span>Minhui Jeon, Jeu Media, 2011</span>
      </a>
      <a href="#" class="hot-book">
        <img class="book" src="/img/dopaminenation.jpg">
        <div class="book-title">Dopamine Nation</div>
        <span>Anna, Flow Publish, 2022</span>
      </a>
    </div>
  </main>

  <footer>
    <span>SKKU.LIBRARY</span>
    <span>Developer: Jaehong Lee</span>
    <span>Email: navihong98@gmail.com</span>
  </footer>
</body>
</html>