<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKKU.LIBRARY</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/my-library.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <a href="#" class="header-img">
        <img class="logo" src="/img/logo.png" th:onclick="|location.href='@{/normal/main}'|">
    </a>
    <div class="header-menu">
        <a href="/normal/borrow" class="menu">Borrow</a>
        <a href="/normal/myLibrary" class="menu">MyLibrary</a>
    </div>
  </header>

  <main>
    <div class="user-information">
      <h1 th:text="|Welcome, ${name}|">Welcome, Andrew!</h1>
      <h2 th:text="|You have ${7 - #lists.size(books)} books left that you can borrow|">You have 3 books left that you can borrow</h2>

    </div>
    <ul class="book-container">
      <li class="each-book-container" th:each="book:${books}">
        <a th:href="@{/normal/bookNormal/{id}(id=${book.id})}" class="book">
          <img class="book-image" src="/img/frankenstein.jpg" th:src="|/img/${book.image}|">
          <div class="book-information">
            <div class="book-title" th:text="${book.title}">Frankenstein</div>
            <div th:text="|${book.author}, ${book.publisher}, ${book.year}|">Shelley Mary, PajuSalim, 2003</div>
            <div class="book-available" th:text="|Due ${7 - book.due}|">Due 7</div>
          </div>
        </a>
          <!--
        <div class="book-return">
          <button class="book-button">Renew</button>
          <button class="book-button">Return</button>
        </div>
        -->
      </li>
    </ul>

    <form th:action="@{/normal/myLibrary}" method="post">
        <div class="delete-account">
          <button type="submit" class="delete-button">DELETE ACCOUNT</button>
        </div>
    </form>
  </main>

  <footer>
    <div class="footer-information">
      <span>SKKU.LIBRARY</span>
      <span>Developer: Jaehong Lee</span>
      <span>Email: navihong98@gmail.com</span>
    </div>
    <div class="footer-logout">
      <button class="logout-button" th:onclick="|location.href='@{/}'|">Logout</button>
    </div>
  </footer>

</body>
</html>