<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKKU.LIBRARY</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/book-administrator.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#" class="header-img">
            <img class="logo" src="/img/logo.png" th:onclick="|location.href='@{/administrator/main}'|">
        </a>
        <div class="header-menu">
            <a href="/administrator/users" class="menu">Users</a>
            <a href="/administrator/books" class="menu">Books</a>
        </div>
    </header>
    <main>
        <div class="book-container">
            <div>
                <img class="book-image" src="/img/winterer.jpg" th:src="|/img/${book.image}|">
            </div>
            <div class="book-information">
                <div class="book-title" th:text="${book.title}">Frankenstein</div>
                <div th:text="|${book.author}, ${book.publisher}, ${book.year}|">Shelley Mary, PajuSalim, 2003</div>
                <div th:text="${book.type}">Literature</div>
                <div class="book-available" th:text="${book.userId == null ? 'Available' : 'Checked Out'}">Available / Borrowed by Jaehong: Due 1 / Overdue 1 (Late fee: 1$)</div>
            </div>
        </div>
        <form th:action="@{/administrator/books/deleteBook/{id}(id=${book.id})}" method="post">
            <div class="book-button">
                <button type="button" class="handling-button" th:onclick="|location.href='@{/administrator/books/editBook/{id}(id=${book.id})}'|">Edit</button>
                <button type="submit" class="handling-button">Delete</button>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer-information">
            <span>SKKU.LIBRARY</span>
            <span>Developer: Jaehong Lee</span>
            <span>Email: navihong98@gmail.com</span>
        </div>
        <div class="footer-logout">
            <button class="logout-button" th:onclick="|location.href='@{/}'|">Logout</button>
        </div>
    </footer>
</body>
</html>