<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKKU.LIBRARY</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/books.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <a href="#" class="header-img">
        <img class="logo" src="/img/logo.png" th:onclick="|location.href='@{/administrator/main}'|">
    </a>
    <div class="header-menu">
        <a href="/administrator/users" class="menu">Users</a>
        <a href="/administrator/books" class="menu">Books</a>
    </div>
  </header>

  <form th:action="@{/administrator/books}" id="searchForm" method="post">
    <div class="search-bar">
      <input th:field="${search.search}" type="text" class="search-input" placeholder="Input name of book or author">
      <img id="searchIcon" class="search-icon" src="/img/search-icon.png">
      <button type="button" class="add-button" th:onclick="|location.href='@{/administrator/books/addBook}'|">Add a Book</button>
    </div>
  </form>


  <main>
    <ul class="book-container">
      <li th:each="book:${books}">
        <a href="#" class="book">
          <img class="book-image" src="/img/frankenstein.jpg" th:src="|/img/${book.image}|">
          <div class="book-information">
            <div class="book-title" th:text="${book.title}">Frankenstein</div>
            <div th:text="|${book.author}, ${book.publisher}, ${book.year}|">Shelley Mary, PajuSalim, 2003</div>
            <div class="book-available">Available</div>
          </div>
        </a>
      </li>
    </ul>

    <div class="category">
      <ul>
        <li class="category-item" th:onclick="|location.href='@{/administrator/books/literature}'|">Literature</li>
        <li class="category-item" th:onclick="|location.href='@{/administrator/books/nonLiterature}'|">Non-Literature</li>
        <li class="category-item" th:onclick="|location.href='@{/administrator/books/selfImprovement}'|">Self-Improvement</li>
        <li class="category-item" th:onclick="|location.href='@{/administrator/books/essay}'|">Essay</li>
        <li class="category-item" th:onclick="|location.href='@{/administrator/books/etc}'|">Etc.</li>
      </ul>
    </div>
  </main>

  <footer>
    <div class="footer-information">
      <span>SKKU.LIBRARY</span>
      <span>Developer: Jaehong Lee</span>
      <span>Email: navihong98@gmail.com</span>
    </div>
    <div class="footer-logout">
      <button class="logout-button" th:onclick="|location.href='@{/}'|">Logout</button>
    </div>
  </footer>

  <script src="/js/main.js"></script>
</body>
</html>