<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKKU.LIBRARY</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/edit-book.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <a href="#" class="header-img">
      <img class="logo" src="/img/logo.png" th:onclick="|location.href='@{/administrator/main}'|">
    </a>
    <div class="header-menu">
      <a href="/administrator/users" class="menu">Users</a>
      <a href="/administrator/books" class="menu">Books</a>
    </div>
  </header>
  <main>
    <form th:action="@{/administrator/books/editBook/{id}(id=${bookId})}" method="post" enctype="multipart/form-data">
      <div class="book-container">
        <div class="image-container">
          <img class="book-image" src="/img/example.png" th:src="|/img/${bookImage}|">
        </div>
        <div class="book-information">
          <div class="input-label">Title</div>
          <input type="text" th:field="${book.title}">
          <div class="input-label">Author</div>
          <input type="text" th:field="${book.author}">
          <div class="input-label">Publisher</div>
          <input type="text" th:field="${book.publisher}">
          <div class="input-label">Year</div>
          <input type="number" th:field="${book.year}">
          <div class="input-label">Genre</div>
          <div>
            <input type="radio" name="genre" th:field="${book.type}" value="literature"> Literature
            <input type="radio" name="genre" th:field="${book.type}" value="nonLiterature"> Non-Literature
            <input type="radio" name="genre" th:field="${book.type}" value="selfImprovement"> Self-Improvement
            <input type="radio" name="genre" th:field="${book.type}" value="essay"> Essay
            <input type="radio" name="genre" th:field="${book.type}" value="etc"> Etc.
          </div>
        </div>
      </div>
      <div class="book-button">
        <input type="file" th:field="${book.file}" class="add-image-button">
        <button class="add-button">Edit</button>
      </div>
    </form>
  </main>
  <footer>
    <div class="footer-information">
      <span>SKKU.LIBRARY</span>
      <span>Developer: Jaehong Lee</span>
      <span>Email: navihong98@gmail.com</span>
    </div>
    <div class="footer-logout">
      <button class="logout-button" th:onclick="|location.href='@{/}'|">Logout</button>
    </div>
  </footer>
</body>
</html>