<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKKU.LIBRARY</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main-administrator.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
    <!--
    <h1>관리자 메인페이지</h1>
    <a href="/administrator/users">유저정보</a>
    <a href="/administrator/books">도서정보</a>
    -->
    <header>
        <a href="#" class="header-img">
            <img class="logo" src="/img/logo.png">
        </a>
        <div class="header-menu">
            <a href="#" class="menu">Users</a>
            <a href="#" class="menu">Books</a>
        </div>
    </header>
    <main>
        <h1>Administrator Page</h1>
        <div class="menu-container">
            <div class="each-menu">
                <img class="book-image" src="/img/users.jpg">
                <span class="menu-title">Users</span>
            </div>
            <div class="each-menu">
                <img class="book-image" src="/img/books.png">
                <span class="menu-title">Books</span>
            </div>
        </div>
    </main>
    <footer>
        <span>SKKU.LIBRARY</span>
        <span>Developer: Jaehong Lee</span>
        <span>Email: navihong98@gmail.com</span>
    </footer>
</body>
</html>