<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKKU.LIBRARY</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/user-information.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
    <header>
      <a href="#" class="header-img">
        <img class="logo" src="/img/logo.png" th:onclick="|location.href='@{/administrator/main}'|">
      </a>
      <div class="header-menu">
        <a href="/administrator/users" class="menu">Users</a>
        <a href="/administrator/books" class="menu">Books</a>
      </div>
    </header>
    <main>
      <div class="information-container">
        <h2 class="user-information-header">User Information</h2>
        <div class="information" th:text="|Name: ${user.name}|">Name: Tom</div>
        <div class="information" th:text="|Id: ${user.loginId}|">Id: tom_id</div>
        <div class="information" th:text="|Password: ${user.password}|">Password: tom_password</div>
        <div class="information" th:text="|Type: ${user.type}|">Type: normal</div>
      </div>

      <div class="user-books">
        <h2>List of borrowed books</h2>
        <ul>
          <li th:each="book:${books}" th:onclick="|location.href='@{/administrator/books/bookAdministrator/{id}(id=${book.id})}'|">
            <span class="book-title" th:text="${book.title}">Frankenstein</span>
            <span class="book-available" th:text="|Due ${7 - book.due}|">Due 7</span>
          </li>
        </ul>
      </div>

      <form th:action="@{/administrator/users/userInformation/{id}/resign(id=${user.id})}" method="post">
          <div class="book-button">
            <button type="submit" class="resign-button">Resign</button>
          </div>
      </form>
    </main>
    <footer>
        <div class="footer-information">
            <span>SKKU.LIBRARY</span>
            <span>Developer: Jaehong Lee</span>
            <span>Email: navihong98@gmail.com</span>
        </div>
        <div class="footer-logout">
            <button class="logout-button" th:onclick="|location.href='@{/}'|">Logout</button>
        </div>
    </footer>
</body>
</html>