<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKKU.LIBRARY</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <a href="#" class="header-img">
        <img class="logo" src="/img/logo.png" th:onclick="|location.href='@{/administrator/main}'|">
    </a>
    <div class="header-menu">
        <a href="/administrator/users" class="menu">Users</a>
        <a href="/administrator/books" class="menu">Books</a>
    </div>
  </header>

  <main>
    <h1>Information of Users</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Password</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user:${users}" th:onclick="|location.href='@{/administrator/users/userInformation/{id}(id=${user.id})}'|">
          <td th:text="${user.name}">Tom</td>
          <td th:text="${user.loginId}">tom_id</td>
          <td th:text="${user.password}">tom_password</td>
          <td th:text="${user.type}">normal</td>
        </tr>
      </tbody>
    </table>
  </main>
  <footer>
    <div class="footer-information">
      <span>SKKU.LIBRARY</span>
      <span>Developer: Jaehong Lee</span>
      <span>Email: navihong98@gmail.com</span>
    </div>
    <div class="footer-logout">
      <button class="logout-button" th:onclick="|location.href='@{/}'|">Logout</button>
    </div>
  </footer>
</body>

</html>