main {
    /* background-color: aqua; */
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}

.book-container {
    display: flex;
    gap: 40px;
}

.image-container {
    width: 280px;
    height: auto;
}

.book-image {
    width: 100%;
}

.book-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-label {
    font-weight: bold;
    font-size: 24px;
}

input {
    margin-bottom: 12px;
}

.book-button {
    display: flex;
    justify-content: space-between;
    
    width: 720px;
    margin-top: 50px;
}

.add-image-button {
    width: 210px;
    height: 40px;
    border-color: black;
    color: black;
    background-color: white;
    font-weight: 500;
    font-size: 20px;
}

.add-button {
    background-color: white;
    color: chocolate;
    border-color: chocolate;
    border-style: solid;
    width: 140px;
    height: 60px;
    margin-left: 20px;
    margin-right: -40px;
    font-weight: 500;
    font-size: 20px;

    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.add-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3);
}