<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKKU.LIBRARY</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <div class="welcome-header">
      <h1>Welcome To SKKU.LIBRARY!</h1>
    </div>

    <main>
      <div class="welcome-content">
        <img class="logo" src="/img/logo.png">
      </div>

      <form th:action="@{/}" method="post">
          <div class="login-content">
            <div class="title">
              <h1>Login</h1>
            </div>

            <div class="content">
              <div class="input">
                <p>Id</p>
                <input th:field="${login.id}" type="text" placeholder="id">
              </div>

              <div class="input">
                <p>Password</p>
                <input th:field="${login.password}" type="password" placeholder="password">
              </div>
            </div>

            <div class="send">
                <button type="button" th:onclick="|location.href='@{/signUp}'|">Sign Up</button>
                <button type="submit">Login</button>
            </div>
          </div>
      </form>
    </main>

    <footer>
      <span>SKKU.LIBRARY</span>
      <span>Developer: Jaehong Lee</span>
      <span>Email: navihong98@gmail.com</span>
    </footer>
</body>
</html>